USE [EOkulPorje]
GO
/****** Object:  Table [dbo].[Tbl_Dersler]    Script Date: 12.01.2021 13:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Dersler](
	[DERSID] [tinyint] IDENTITY(1,1) NOT NULL,
	[DERSAD] [varchar](30) NULL,
 CONSTRAINT [PK_Tbl_Dersler] PRIMARY KEY CLUSTERED 
(
	[DERSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_Kulupler]    Script Date: 12.01.2021 13:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Kulupler](
	[KULUPID] [tinyint] IDENTITY(1,1) NOT NULL,
	[KULUPAD] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_Kulupler] PRIMARY KEY CLUSTERED 
(
	[KULUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_Notlar]    Script Date: 12.01.2021 13:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Notlar](
	[NOTID] [int] IDENTITY(1,1) NOT NULL,
	[DERSID] [tinyint] NULL,
	[OGRID] [int] NULL,
	[SINAV1] [tinyint] NULL,
	[SINAV2] [tinyint] NULL,
	[SINAV3] [tinyint] NULL,
	[PROJE] [tinyint] NULL,
	[ORTALAMA] [decimal](5, 2) NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_Tbl_Notlar] PRIMARY KEY CLUSTERED 
(
	[NOTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tbl_Ogremenler]    Script Date: 12.01.2021 13:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Ogremenler](
	[OGRTID] [tinyint] IDENTITY(1,1) NOT NULL,
	[OGRTBRANS] [tinyint] NULL,
	[OGRTADSOYAD] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_Ogremenler] PRIMARY KEY CLUSTERED 
(
	[OGRTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_Ogrenciler]    Script Date: 12.01.2021 13:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Ogrenciler](
	[OGRID] [int] IDENTITY(1,1) NOT NULL,
	[OGRAD] [varchar](30) NULL,
	[OGRSOYAD] [varchar](30) NULL,
	[OGRKULUP] [tinyint] NULL,
	[OGRCINSIYET] [varchar](5) NULL,
 CONSTRAINT [PK_Tbl_Ogrenciler] PRIMARY KEY CLUSTERED 
(
	[OGRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Dersler] ON 

INSERT [dbo].[Tbl_Dersler] ([DERSID], [DERSAD]) VALUES (1, N'MATEMATİK')
INSERT [dbo].[Tbl_Dersler] ([DERSID], [DERSAD]) VALUES (2, N'VERİ TASARIM')
INSERT [dbo].[Tbl_Dersler] ([DERSID], [DERSAD]) VALUES (3, N'ALGORİTMA')
SET IDENTITY_INSERT [dbo].[Tbl_Dersler] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Kulupler] ON 

INSERT [dbo].[Tbl_Kulupler] ([KULUPID], [KULUPAD]) VALUES (1, N'BİLİŞİM')
INSERT [dbo].[Tbl_Kulupler] ([KULUPID], [KULUPAD]) VALUES (2, N'SANTRANC')
INSERT [dbo].[Tbl_Kulupler] ([KULUPID], [KULUPAD]) VALUES (3, N'KÜTÜPHANE')
SET IDENTITY_INSERT [dbo].[Tbl_Kulupler] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Notlar] ON 

INSERT [dbo].[Tbl_Notlar] ([NOTID], [DERSID], [OGRID], [SINAV1], [SINAV2], [SINAV3], [PROJE], [ORTALAMA], [DURUM]) VALUES (1, 1, 1, 75, 25, NULL, NULL, NULL, NULL)
INSERT [dbo].[Tbl_Notlar] ([NOTID], [DERSID], [OGRID], [SINAV1], [SINAV2], [SINAV3], [PROJE], [ORTALAMA], [DURUM]) VALUES (2, 1, 2, 80, 95, NULL, NULL, NULL, NULL)
INSERT [dbo].[Tbl_Notlar] ([NOTID], [DERSID], [OGRID], [SINAV1], [SINAV2], [SINAV3], [PROJE], [ORTALAMA], [DURUM]) VALUES (3, 1, 3, 87, 85, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Tbl_Notlar] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Ogremenler] ON 

INSERT [dbo].[Tbl_Ogremenler] ([OGRTID], [OGRTBRANS], [OGRTADSOYAD]) VALUES (1, 1, N'AHMET KÖSE')
INSERT [dbo].[Tbl_Ogremenler] ([OGRTID], [OGRTBRANS], [OGRTADSOYAD]) VALUES (2, 5, N'VELİ YILMAZ')
INSERT [dbo].[Tbl_Ogremenler] ([OGRTID], [OGRTBRANS], [OGRTADSOYAD]) VALUES (3, NULL, N'ASLI ÇINAR')
SET IDENTITY_INSERT [dbo].[Tbl_Ogremenler] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Ogrenciler] ON 

INSERT [dbo].[Tbl_Ogrenciler] ([OGRID], [OGRAD], [OGRSOYAD], [OGRKULUP], [OGRCINSIYET]) VALUES (1, N'MEHMET', N'YILMAZ', 1, N'ERKEK')
INSERT [dbo].[Tbl_Ogrenciler] ([OGRID], [OGRAD], [OGRSOYAD], [OGRKULUP], [OGRCINSIYET]) VALUES (2, N'EMEL', N'YILDIRIM', 1, N'KIZ')
INSERT [dbo].[Tbl_Ogrenciler] ([OGRID], [OGRAD], [OGRSOYAD], [OGRKULUP], [OGRCINSIYET]) VALUES (3, N'BEYZA', N'KAYA', 2, N'KIZ')
SET IDENTITY_INSERT [dbo].[Tbl_Ogrenciler] OFF
ALTER TABLE [dbo].[Tbl_Notlar]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Notlar_Tbl_Ogrenciler] FOREIGN KEY([OGRID])
REFERENCES [dbo].[Tbl_Ogrenciler] ([OGRID])
GO
ALTER TABLE [dbo].[Tbl_Notlar] CHECK CONSTRAINT [FK_Tbl_Notlar_Tbl_Ogrenciler]
GO
ALTER TABLE [dbo].[Tbl_Ogremenler]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Ogremenler_Tbl_Dersler] FOREIGN KEY([OGRTBRANS])
REFERENCES [dbo].[Tbl_Dersler] ([DERSID])
GO
ALTER TABLE [dbo].[Tbl_Ogremenler] CHECK CONSTRAINT [FK_Tbl_Ogremenler_Tbl_Dersler]
GO
ALTER TABLE [dbo].[Tbl_Ogrenciler]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Ogrenciler_Tbl_Kulupler] FOREIGN KEY([OGRKULUP])
REFERENCES [dbo].[Tbl_Kulupler] ([KULUPID])
GO
ALTER TABLE [dbo].[Tbl_Ogrenciler] CHECK CONSTRAINT [FK_Tbl_Ogrenciler_Tbl_Kulupler]
GO
